@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
 } 
 
 body  .contenedor {
	font-family: 'Roboto', sans-serif;
	width:95%;
	margin:auto;
 }
 
  
 @media (min-width:768px){
	.sociales{
		width:auto;
	}
	footer .contenedor{
	justify-content:space-between;
	 
 }
}
@media (min-width:1024px){
	.contenedor{
		width:1000px;
	}
}
/*banner */



 
 
 
 
 
 
 
 
 
 
 
 
 
 